{% include 'navbar.html' %}

<h1>Klutter</h1>

<h2>{{ profile_user.username }}'s Klutter Profile Page</h2>

<h2>Following: {{ users_following }}</h2>
<h2>Tweets:  {{ tweets.count }}</h2>

<a href="/follow/{{ profile_user.id }}/">Follow</a>
<a href="/unfollow/{{ profile_user.id }}/">Unfollow</a>

{% for tweet in tweets %}
    <div style="border:1px solid black; padding:10px;">
        <h3><a href="/profilepage/{{ tweet.user_tweeted.id }}/">{{ tweet.user_tweeted }}</a></h3>
        <h3><a href="/tweetpage/{{ tweet.id }}/">View Tweet</a></h3>
        <p>{{ tweet.text }}</p>
        <p>{{ tweet.date_tweeted }}</p>
    </div>
{% endfor %}

{% if request.user.is_authenticated %}
    <p>
        <a href="/logout/"><button>Logout</button></a>
    </p>
{% endif %}
